[submodule "ext/bitcoin-core"]
	path = ext/bitcoin-core
	url = https://github.com/bitcoin/bitcoin.git
[submodule "ext/bitcoin-xt"]
	path = ext/bitcoin-xt
	url = https://github.com/bitcoinxt/bitcoinxt.git
[submodule "ext/bitcoin-unlimited"]
	path = ext/bitcoin-unlimited
	url = https://github.com/BitcoinUnlimited/BitcoinUnlimited.git
[submodule "ext/bitcoin-btc1"]
	path = ext/bitcoin-btc1
	url = https://github.com/btc1/bitcoin.git
[submodule "ext/bitcoin-original"]
	path = ext/bitcoin-original
	url = https://github.com/atdlib/original-bitcoin.git
[submodule "ext/bitcoin-classic"]
	path = ext/bitcoin-classic
	url = https://github.com/bitcoinclassic/bitcoinclassic.git
[submodule "ext/bitcoin-abc"]
	path = ext/bitcoin-abc
	url = https://github.com/Bitcoin-ABC/bitcoin-abc.git
[submodule "ext/bitcoin-bcoin"]
	path = ext/bitcoin-bcoin
	url = https://github.com/bcoin-org/bcoin.git
[submodule "ext/bitcoin-btcd"]
	path = ext/bitcoin-btcd
	url = https://github.com/btcsuite/btcd.git
[submodule "ext/bitcoin-pico"]
	path = ext/bitcoin-pico
	url = https://github.com/jgarzik/picocoin.git
[submodule "ext/bitcoin-gocoin"]
	path = ext/bitcoin-gocoin
	url = https://github.com/piotrnar/gocoin.git
[submodule "ext/bitcoin-omega"]
	path = ext/bitcoin-omega
	url = https://github.com/btc0/bitcoin-omega.git
