#[wildcards]
*.o
*.pyc
*.pwdb
#[dotfolders]
.backup/
.keychain/
.swap/
.venv/
#[folders]
dojo/*
node_modules/
#[dotfiles]
.DS_Store
.nvmrc
#[files]
geckodriver.log
npm-debug.log
yarn-error.log
#[except]
#[endfi]
